// Global style configuration file
$font-size-px: 16;
$font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

:root {
  --font-size: #{$font-size-px}px;
  --font-family: #{$font-family};
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
}
