:root {
  --color-primary: var(--gray-800);
  --color-secondary: white;
  --color-accent: var(--pink-500);
  --color-background: white;
  --color-text: var(--neutral-800);
}

.theme-dark {
  --color-primary: var(--pink-200);
  --color-secondary: var(--gray-800);
  --color-accent: var(--pink-500);
  --color-background: var(--gray-800);
  --color-text: white;
}

.theme-green {
  --color-primary: var(--green-700);
  --color-secondary: white;
  --color-accent: #ccff33;
  --color-background: #38b000;
  --color-text: white;
}
